  <!-- Header --><ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true" template = " <img src='../../../assets/StreamAssets/images/loader-unscreen.gif' /> "></ngx-spinner>

  <app-homeheader></app-homeheader>
  <!-- Header End -->
  <!-- MainContent -->
  <div class="iq-breadcrumb-one  iq-bg-over " style="background-image: url('../../../assets/StreamAssets/images/video/bg.jpg');">
    <div class="container-fluid">
       <div class="row align-items-center">
          <div class="col-sm-12">
             <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">View All</h2>
                <ol class="breadcrumb main-bg">
                   <li class="breadcrumb-item"><a href="#">Home</a></li>
                   <li class="breadcrumb-item active">Movie</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </div>
 <main id="main" class="site-main watchlist-contens">
    <div class="container-fluid">
      <div class="input-group" style="justify-content: center;">
        <div class="form-outline">
          <input type="search"[(ngModel)]="searchTerm" id="form1"placeholder="Enter your search term" class="form-control" />
        </div>
        <button type="button"(click)="search()" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>


                <ul class=" row list-inline  mb-0 iq-rtl-direction ">
                  <li *ngFor="let result of searchResults" class="slide-item col-lg-3 col-md-4 col-6 mb-4">

                    <div class="block-images position-relative  watchlist-first">
                      <div class="img-box">
                         <img src="../../../assets/Image/{{result.image}}" class="img-fluid" alt="" loading="lazy">
                      </div>
                      <div class="block-description">
                         <h6 class="iq-title text-left"><a  >{{result.name}}</a></h6>
                         <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">{{result.duraation}}</span>
                         </div>
                         <div class="hover-buttons text-left">
                            <a (click)="Navigate(result.id)"  role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                                  aria-hidden="true"></i>
                               Watch Now</a>
                         </div>
                      </div>
                      <div class="block-social-info">
                         <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                               <span><i class="ri-share-fill"></i></span>
                               <div class="share-box">
                                  <div class="d-flex align-items-center">
                                     <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-facebook-fill"></i></a>
                                     <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                        rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-twitter-fill"></i></a>
                                     <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                  </div>
                               </div>
                            </li>
                            <li>
                               <span><i class="ri-heart-fill" (click)="Add(result.id)"></i></span>
                               <span class="count-box" >+3</span>
                            </li>
                            <li><span><i class="ri-add-line" (click)="Later(result.id)"></i></span></li>
                         </ul>
                      </div>
                   </div>

                  </li>
                  <hr>
      <br><br><br>            <hr>
                </ul>
       <div class="iq-main-header d-flex align-items-center justify-content-between mt-5 mt-lg-0">
          <h4 class="main-title"style="background-color: black;
          padding: 15px;
          width: 100%;">All Series</h4>
       </div>
       <ul class=" row list-inline  mb-0 iq-rtl-direction ">
          <li *ngFor="let item of this.seriesService.GetAllx; let i = index"  class="slide-item col-lg-3 col-md-4 col-6 mb-4">
             <div *ngIf="i<8" class="block-images position-relative  watchlist-first">
                <div class="img-box">
                   <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="" loading="lazy">
                </div>
                <div class="block-description">
                   <h6 class="iq-title text-left"><a (click)="Navigate(item.id)" >{{item.name}}</a></h6>
                   <div class="movie-time d-flex align-items-center my-2">
                      <span class="text-white">{{item.duraation}}</span>
                   </div>
                   <div class="hover-buttons text-left">
                      <a (click)="Navigate(item.id)" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                            aria-hidden="true"></i>
                         Watch Now</a>
                   </div>
                </div>
                <div class="block-social-info">
                   <ul class="list-inline p-0 m-0 music-play-lists">
                      <li class="share">
                         <span><i class="ri-share-fill"></i></span>
                         <div class="share-box">
                            <div class="d-flex align-items-center">
                               <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                  target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                     class="ri-facebook-fill"></i></a>
                               <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                  rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                     class="ri-twitter-fill"></i></a>
                               <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                  class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                            </div>
                         </div>
                      </li>
                      <li>
                         <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                         <span class="count-box" (click)="Later(item.id)">+3</span>
                      </li>
                      <li><span><i class="ri-add-line"></i></span></li>
                   </ul>
                </div>
             </div>
          </li>
       </ul>
       <button class="btn btn-hover hide-me" type="button" data-toggle="collapse" data-target="#collapseExample3"
          aria-expanded="false" aria-controls="collapseExample3">
          <span class="genres-btn">LOAD MORE</span>
       </button>
       <div class="collapse" id="collapseExample3">
          <ul class=" row list-inline  mb-0 iq-rtl-direction ">
             <li *ngFor="let item of this.seriesService.GetAllx; let i = index" class="slide-item col-lg-3 col-md-4 col-sm-6 mb-4">
                <div *ngIf="i>7" class="block-images position-relative">
                   <div class="img-box">
                      <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="" loading="lazy">
                   </div>
                   <div class="block-description">
                      <h6 class="iq-title"><a  (click)="Navigate(item.id)">
                            {{item.name}}</a></h6>
                      <div class="movie-time d-flex align-items-center my-2">
                         <span class="text-white">{{item.duraation}}</span>
                      </div>
                      <div class="hover-buttons">
                         <a (click)="Navigate(item.id)" role="button" class="btn btn-hover"><i class="fa fa-play mr-1"
                               aria-hidden="true"></i>
                            Watch Now</a>
                      </div>
                   </div>
                   <div class="block-social-info">
                      <ul class="list-inline p-0 m-0 music-play-lists">
                         <li class="share">
                            <span><i class="ri-share-fill"></i></span>
                            <div class="share-box">
                               <div class="d-flex align-items-center">
                                  <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                     target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-facebook-fill"></i></a>
                                  <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank"
                                     rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                        class="ri-twitter-fill"></i></a>
                                  <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                     class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                               </div>
                            </div>
                         </li>
                         <li>
                            <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                            <span class="count-box" (click)="Later(item.id)">+2</span>
                         </li>
                         <li><span><i class="ri-add-line"></i></span></li>

                      </ul>
                   </div>
                </div>

             </li>
          </ul>
       </div>
    </div>
 </main>
 <div class="rtl-box">
    <button type="button" id="flip" class="btn btn-light rtl-btn">
       <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20 20" fill="white">
          <path fill-rule="evenodd"
             d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
             clip-rule="evenodd" />
       </svg>
    </button>
    <div class="rtl-panel" id="panel">
       <ul class="modes">
          <li class="dir-btn" data-mode="rtl" data-active="false" data-value="ltr"><a href="#">LTR</a></li>
          <li class="dir-btn" data-mode="rtl" data-active="true" data-value="rtl"><a href="#">RTL</a></li>
       </ul>
    </div>
 </div>
 <!-- Footer Start -->
<app-homefooter></app-homefooter>
 <!-- Footer End -->
