<!-- <div id="loading">
  <div id="loading-center">
  </div>
</div> -->
<!-- Header -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true" template = " <img src='../../../assets/StreamAssets/images/loader-unscreen.gif' /> "></ngx-spinner>

<app-homeheader></app-homeheader>
<!-- Header End -->
<!-- Slider Start -->
<section class="banner-container">
  <div class="movie-banner tvshows-slider">


          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active">

           <div class="swiper-slide movie-banner-1 swiper-bg"style="background-size: cover;background-image: url('../../../assets/StreamAssets/images/tvthrillers/02.jpg');">
              <div class="shows-content h-100">
                 <div class="row align-items-center h-100">
                    <div class="col-lg-7 col-md-12">
                       <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                          data-delay-in="0.6">Zombie Island</h1>
                       <div class="flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft"
                          style="opacity: 1;">
                          <div class="slider-ratting d-flex align-items-center ">
                             <ul
                                class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                <li>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                <li>
                                   <i class="fa fa-star-half" aria-hidden="true"></i>
                                </li>
                             </ul>
                             <span class="text-white ml-3">4.4(lmdb)</span>
                          </div>
                          <div class="d-flex align-items-center movie-banner-time">
                             <span class="badge badge-secondary p-2">Action</span>
                             <span class="mx-2 mx-md-3"><i class="ri-checkbox-blank-circle-fill"></i></span>
                             <span class="trending-time"> 1hr : 44mins</span>
                             <span class="mx-2 mx-md-3"><i class="ri-checkbox-blank-circle-fill"></i></span>
                             <span class="trending-year">Feb 2018</span>
                          </div>
                          <p class="movie-banner-text" data-animation-in="fadeInUp" data-delay-in="1.2">Dinosaurs are a
                             diverse group of reptiles of the clade Dinosauria. They first appeared during the
                             Triassic period, between 243 and 233.23 million years ago, although the exact origin
                             and timing of the evolution of dinosaurs is the subject of active research.</p>
                       </div>
                       <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp"
                          data-delay-in="1.2">
                          <a href="movie-details.html" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                                aria-hidden="true"></i>Watch Now</a>
                       </div>
                    </div>
                    <div class="col-lg-5 col-md-12 trailor-video iq-slider d-none d-lg-block">
                       <a href="video/trailer.mp4" class="video-open playbtn" tabindex="0">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px"
                             viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                             <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10"
                                points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                             <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3">
                             </circle>
                          </svg>
                          <span class="w-trailor text-uppercase">Watch Trailer</span>
                       </a>
                    </div>
                 </div>
              </div>
           </div>
          </div>

          <div class="carousel-item " *ngFor="let item of this.seriesService.GetAllx">
            <div class="swiper-slide  swiper-bg"style="background-size: cover;background-image: url('../../../assets/Image/{{item.image}}');">
                <div class="shows-content h-100">
                  <div class="row align-items-center h-100" >
                      <div class=" col-lg-8 col-md-12">
                        <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                            data-delay-in="0.6">{{item.name}}</h1>
                            <div class="flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft" style="opacity: 1;">
                            <div class="slider-ratting d-flex align-items-center ">
                                  <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                    <li *ngFor="let a of rate(item.rate); let index = index">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                      <i class="fa fa-star-half" aria-hidden="true"></i>
                                   </li>
                                  </ul>
                                  <span class="text-white ml-3">{{item.rate}}.3(lmdb)</span>
                              </div>
                              <div class="d-flex align-items-center movie-banner-time">
                                  <ng-container *ngFor="let i of this.categoryService.GetAllCategoryv">
                                    <span *ngIf="item.categoryid == i.id" class="badge badge-secondary p-2">{{i.name}}</span>
                                  </ng-container>
                                  <span class="mx-3"><i class="ri-checkbox-blank-circle-fill"></i></span>
                                  <span class="trending-time">
                                    {{item.duraation}}</span>
                                  <span class="mx-3"><i class="ri-checkbox-blank-circle-fill"></i></span>
                                  <span class="trending-year"> {{item.productionyear | date}}</span>
                              </div>
                              <p class="movie-banner-text" data-animation-in="fadeInUp" data-delay-in="1.2">{{item.discreption}}.
                              </p>
                        </div>
                        <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
                            <a (click)="Navigate(item.id)" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                              aria-hidden="true"></i>Watch Now</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12 trailor-video iq-slider d-none d-lg-block">
                        <a href="../../../assets/Video/{{item.trailer}}" target="_blank" class="video-open playbtn">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                              enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-miterlimit="10"
                                  points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                              <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                            </svg>
                            <span class="w-trailor">Watch Trailer</span>
                        </a>
                      </div>
                  </div>
                </div>
            </div>
          </div>



        </div>
        <a style="width: 5%;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a style="width: 5%;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


  </div>
</section>
<!-- MainContent -->
<div class="main-content">
  <section id="iq-favorites" class="iq-rtl-direction">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12 overflow-hidden">
              <div class="d-flex align-items-center justify-content-between">
                 <h4 class="main-title">Popular Series
                 </h4>
                 <a (click)="All()" class="text-primary iq-view-all">View All</a>
              </div>
           </div>
        </div>
        <!-- Swiper -->
        <div class="favourite-slider">
           <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
              <ul class=" m-0 p-0">
                <owl-carousel-o [options]="customOptions" >
                  <ng-container *ngFor="let item of this.popular">
                  <ng-template carouselSlide >

                <li style="padding: 5px;" class="swiper-slide slide-item">
                    <div class="block-images position-relative">
                       <div class="img-box">
                          <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="">
                       </div>
                       <div class="block-description">
                          <h6 class="iq-title"><a  (click)="Navigate(item.id)">{{item.name}}</a></h6>
                          <div class="movie-time d-flex align-items-center my-2">
                             <span class="text-white">{{item.duraation}}</span>
                          </div>
                          <div class="hover-buttons">
                             <a (click)="Navigate(item.id)" role="button" class="btn btn-hover">
                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                Watch Now
                             </a>
                          </div>
                       </div>
                       <div class="block-social-info">
                          <ul class="list-inline p-0 m-0 music-play-lists">
                             <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                   <div class="d-flex align-items-center">
                                      <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                         target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                            class="ri-facebook-fill"></i></a>
                                      <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                         target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                            class="ri-twitter-fill"></i></a>
                                      <a href="#"
                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                         class="share-ico iq-copy-link" tabindex="0"><i
                                            class="ri-links-fill"></i></a>
                                   </div>
                                </div>
                             </li>
                             <li>
                                <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                                <span class="count-box"  >0</span>
                             </li>
                             <li><span><i class="ri-add-line" (click)="Later(item.id)"></i></span></li>

                          </ul>
                       </div>
                    </div>
                 </li>
                  </ng-template>
                </ng-container>

                </owl-carousel-o>
              </ul>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
           </div>
        </div>
     </div>
  </section>
  <section id="iq-upcoming-movie" class="iq-rtl-direction">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12 overflow-hidden">
              <div class="d-flex align-items-center justify-content-between">
                 <h4 class="main-title">Specials & Latest Series
                 </h4>
                 <a (click)="All()" class="text-primary iq-view-all">View All</a>
              </div>
           </div>
        </div>
        <!-- Swiper -->
        <div class="favourite-slider">
          <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
             <ul class=" m-0 p-0">
               <owl-carousel-o [options]="customOptions" >
                 <ng-container *ngFor="let item of this.latest">
                 <ng-template carouselSlide >

               <li style="padding: 5px;" class="swiper-slide slide-item">
                   <div class="block-images position-relative">
                      <div class="img-box">
                         <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="">
                      </div>
                      <div class="block-description">
                         <h6 class="iq-title"><a  (click)="Navigate(item.id)">{{item.name}}</a></h6>
                         <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">{{item.duraation}}</span>
                         </div>
                         <div class="hover-buttons">
                            <a (click)="Navigate(item.id)" role="button" class="btn btn-hover">
                               <i class="fa fa-play mr-1" aria-hidden="true"></i>
                               Watch Now
                            </a>
                         </div>
                      </div>
                      <div class="block-social-info">
                         <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                               <span><i class="ri-share-fill"></i></span>
                               <div class="share-box">
                                  <div class="d-flex align-items-center">
                                     <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-facebook-fill"></i></a>
                                     <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-twitter-fill"></i></a>
                                     <a href="#"
                                        data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                           class="ri-links-fill"></i></a>
                                  </div>
                               </div>
                            </li>
                            <li>
                               <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                               <span class="count-box" (click)="Later(item.id)">0</span>
                            </li>
                            <li><span><i class="ri-add-line"(click)="Later(item.id)"></i></span></li>

                         </ul>
                      </div>
                   </div>
                </li>
                 </ng-template>
               </ng-container>

               </owl-carousel-o>
             </ul>
             <div class="swiper-button-prev"></div>
             <div class="swiper-button-next"></div>
          </div>
       </div>
     </div>
  </section>
  <section id="iq-suggestede" class="iq-rtl-direction">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12 overflow-hidden">
              <div class="d-flex align-items-center justify-content-between">
                 <h4 class="main-title">Series Recommended For You
                 </h4>
                 <a (click)="All()" class="text-primary iq-view-all">View All</a>
              </div>
           </div>
        </div>
        <!-- Swiper -->
        <div class="favourite-slider">
          <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">
             <ul class=" m-0 p-0">
               <owl-carousel-o [options]="customOptions" >
                 <ng-container *ngFor="let item of this.seriesService.GetAllx">
                 <ng-template carouselSlide >

               <li style="padding: 5px;" class="swiper-slide slide-item">
                   <div class="block-images position-relative">
                      <div class="img-box">
                         <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="">
                      </div>
                      <div class="block-description">
                         <h6 class="iq-title"><a (click)="Navigate(item.id)">{{item.name}}</a></h6>
                         <div class="movie-time d-flex align-items-center my-2">
                            <span class="text-white">{{item.duraation}}</span>
                         </div>
                         <div class="hover-buttons">
                            <a (click)="Navigate(item.id)" role="button" class="btn btn-hover">
                               <i class="fa fa-play mr-1" aria-hidden="true"></i>
                               Watch Now
                            </a>
                         </div>
                      </div>
                      <div class="block-social-info">
                         <ul class="list-inline p-0 m-0 music-play-lists">
                            <li class="share">
                               <span><i class="ri-share-fill"></i></span>
                               <div class="share-box">
                                  <div class="d-flex align-items-center">
                                     <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-facebook-fill"></i></a>
                                     <a href="https://twitter.com/intent/tweet?text=Currentlyreading"
                                        target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                           class="ri-twitter-fill"></i></a>
                                     <a href="#"
                                        data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                        class="share-ico iq-copy-link" tabindex="0"><i
                                           class="ri-links-fill"></i></a>
                                  </div>
                               </div>
                            </li>
                            <li>
                               <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                               <span class="count-box">0</span>
                            </li>
                            <li><span><i class="ri-add-line" (click)="Later(item.id)"></i></span></li>

                         </ul>
                      </div>
                   </div>
                </li>
                 </ng-template>
               </ng-container>

               </owl-carousel-o>
             </ul>
             <div class="swiper-button-prev"></div>
             <div class="swiper-button-next"></div>
          </div>
       </div>
     </div>
  </section>
  <app-homefooter></app-homefooter>

</div>
<div class="rtl-box">
  <button type="button" class="btn btn-light rtl-btn">
     <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20 20" fill="white">
        <path fill-rule="evenodd"
           d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
           clip-rule="evenodd" />
     </svg>
  </button>
  <div class="rtl-panel">
     <ul class="modes">
        <li class="dir-btn" data-mode="rtl" data-active="false" data-value="ltr"><a href="#">LTR</a></li>
        <li class="dir-btn" data-mode="rtl" data-active="true" data-value="rtl"><a href="#">RTL</a></li>
     </ul>
  </div>
</div>
