<div style="width: 110%;" class="iq-top-navbar">
  <div class="iq-navbar-custom">
     <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="iq-menu-bt d-flex align-items-center">
           <div class="wrapper-menu">
              <div class="main-circle"><i class="las la-bars"></i></div>
           </div>
           <div class="iq-navbar-logo d-flex justify-content-between">
              <a href="index.html" class="header-logo">
                 <img src="../../../assets/AdminAssets/images/logo.png" class="img-fluid rounded-normal" alt="">
                 <div class="logo-title">
                    <span class="text-primary text-uppercase">Streamit</span>
                 </div>
              </a>
           </div>
        </div>
        <div class="iq-search-bar ml-auto">
           <form action="#" class="searchbox">
              <input type="text" hidden class="text search-input" placeholder="Search Here...">
           </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
           <i class="ri-menu-3-line"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ml-auto navbar-list">

              <li class="nav-item nav-icon dropdown">
                 <a routerLink="/admin/footer" title="website info" class="search-toggle iq-waves-effect text-gray rounded">
                    <i class="ri-information-line"></i>
                    <span class="bg-primary dots"></span>
                 </a>

              </li>
              <li class="line-height pt-3">
                 <a href="/admin/profile" title="my profile" class=" iq-waves-effect d-flex align-items-center">
                    <img src="../../../assets/AdminAssets/images/user/08.jpg" class="img-fluid rounded-circle mr-3" alt="user">
                 </a>

              </li>
              <li class="nav-item nav-icon dropdown">
                <a (click)="logout()" title="logout" class="search-toggle iq-waves-effect text-gray rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path d="M5 22C4.44772 22 4 21.5523 4 21V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V6H18V4H6V20H18V18H20V21C20 21.5523 19.5523 22 19 22H5ZM18 16V13H11V11H18V8L23 12L18 16Z" fill="rgba(243,243,243,1)"></path></svg>
                  <span class="bg-danger dots"></span>
                </a>

             </li>
           </ul>
        </div>
     </nav>
  </div>
</div>
