<div style="width: 15%;height: 700px;" class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
     <a href="index.html" class="header-logo">
        <img src="../../../assets/AdminAssets/images/logo.png" class="img-fluid rounded-normal" alt="">
        <div class="logo-title">
           <span class="text-primary text-uppercase">Streamit</span>
        </div>
     </a>
     <div class="iq-menu-bt-sidebar">
        <div class="iq-menu-bt align-self-center">
           <div class="wrapper-menu">
              <div class="main-circle">  <i class="las la-bars"></i></div>
           </div>
        </div>
     </div>
  </div>
  <div id="sidebar-scrollbar">
     <nav class="iq-sidebar-menu">
        <ul id="iq-sidebar-toggle" class="iq-menu">
           <li class="active active-menu"><a routerLink="/admin" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Dashboard</span></a></li>
           <li><a routerLink="/admin/user" class="iq-waves-effect"><i class="las la-user-friends"></i><span>User</span></a></li>
           <li>
              <a routerLink="/admin/category" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-list-ul"></i><span>Category List</span></a>

           </li>
           <li>
              <a routerLink="/admin/movie" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-film"></i><span>Movie List</span></a>

           </li>
           <li>
              <a routerLink="/admin/series" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                 class="las la-film"></i><span>Series List</span>
              </a>

           </li>
           <li><a routerLink="/admin/crew" class="iq-waves-effect"><i class="ri-price-tag-line"></i><span>Crew</span></a></li>
           <li><a routerLink="/admin/pricing" class="iq-waves-effect"><i class="ri-price-tag-line"></i><span>Pricing</span></a></li>
           <li><a routerLink="/admin/message" class="iq-waves-effect"><i class="las la-comments"></i><span>Message</span></a></li>
           <li>
              <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span>Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a routerLink="/admin/homepage"><i class="las la-sign-in-alt"></i>Home Page</a></li>
                       <li><a routerLink="/admin/about"><i class="ri-login-circle-line"></i>About US</a></li>
              </ul>
           </li>
        </ul>
     </nav>
  </div>
</div>
