 <!-- loader Start -->
 <!-- <div id="loading">
  <div id="loading-center">
  </div>
</div> --><ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true" template = " <img src='../../../assets/StreamAssets/images/loader-unscreen.gif' /> "></ngx-spinner>

<!-- loader END -->
<!-- Header -->
<app-homeheader></app-homeheader>

<!-- Header End -->
<!-- Slider Start -->
<section id="home-banner-slider" class="iq-main-slider p-0 iq-rtl-direction swiper banner-home-swiper overflow-hidden" data-swiper="home-banner-slider">
  <div  class="slider m-0 p-0 swiper-wrapper home-slider">


     <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="swiper-slide  slide swiper-bg " style="background-image: url(../../../assets/StreamAssets/images/movie-banner/03.jpg);">
            <div class="container-fluid position-relative h-100">
               <div class="slider-inner h-100">
                  <div class="row align-items-center  iq-ltr-direction h-100 ">
                     <div class="col-lg-7 col-md-12">
                        <a href="">
                           <div class="channel-logo" data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">
                              <img src="../../../assets/StreamAssets/images/logo.png" class="c-logo" alt="streamit" loading="lazy">
                           </div>
                        </a>
                        <h1 style="font-size: 5em;margin-top: 0.2em;font-weight: 700;line-height: 1.2;" class="slider-text big-title title text-uppercase"  data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">JUNGLE</h1>
                        <div class="d-flex flex-wrap align-items-center r-mb-23" data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">
                           <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3" >
                              <ul
                                 class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left" >
                                 <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 </li>
                                 <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 </li>
                                 <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 </li>
                                 <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 </li>
                                 <li>
                                    <i class="fa fa-star-half" aria-hidden="true"></i>
                                 </li>
                              </ul>
                              <span class="text-white ml-2">4.7(lmdb)</span>
                           </div>
                           <div class="d-flex align-items-center mt-2 mt-md-3">
                              <span class="badge badge-secondary p-2">NC-17</span>
                              <span class="ml-3">1hrs : 45mins</span>
                           </div>
                           <p data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="150" data-iq-duration="1" data-iq-delay=".5">
                   Piracy is an act of robbery or criminal violence by ship or boat-borne attackers upon another ship or a coastal area, typically with the goal of stealing cargo and other valuable items or properties.
                           </p>
                        </div>
                        <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                           <div class="text-primary title starring">
                              Starring: <span class="text-body"><a href="../../../assets/StreamAssets/cast-karen-gilchrist.html">Karen Gilchrist,</a>
                              <a href="../../../assets/StreamAssets/#">James Earl Jones</a>
                              </span>
                           </div>
                           <div class="text-primary title genres">
                              Genres: <span class="text-body"><a href="../../../assets/StreamAssets/category-action.html">Action</a></span>
                           </div>
                           <div class="text-primary title tag">
                              Tag: <span class="text-body"><a href="../../../assets/StreamAssets/tags/action.html">Action,</a><a href="../../../assets/StreamAssets/tags/adventure.html">
                              Adventure,</a><a href="../../../assets/StreamAssets/tags/horror.html">Horror</a></span>
                           </div>
                        </div>
                        <div class="d-flex align-items-center r-mb-23" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="150" data-iq-duration="1" data-iq-delay=".6">
                           <a href="../../../assets/StreamAssets/show-details.html" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                              aria-hidden="true"></i>Play Now</a>
                        </div>
                     </div>
                     <div class=" col-lg-5 col-md-12 trailor-video iq-slider d-none d-lg-block">
                        <a href="../../../assets/StreamAssets/video/trailer.mp4" class="video-open playbtn" tabindex="0">
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px"
                              viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10"
                                 points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                              <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3">
                              </circle>
                           </svg>
                           <span class="w-trailor">Watch Trailer</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>        </div>
        <div class="carousel-item" *ngFor="let item of movieService.GetAllx">
          <div class="swiper-slide  slide swiper-bg " style="background-image: url(../../../assets/Image/{{item.image}});">
            <div class="container-fluid position-relative h-100">
               <div class="slider-inner h-100">
                  <div class="row align-items-center  iq-ltr-direction h-100 ">
                     <div class="col-lg-7 col-md-12">
                        <a href="#">
                           <div class="channel-logo" data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">
                              <img src="../../../assets/StreamAssets/images/logo.png" class="c-logo" alt="streamit" loading="lazy">
                           </div>
                        </a>
                        <h1 style="font-size: 5em;margin-top: 0.2em;font-weight: 700;line-height: 1.2;" class="slider-text big-title title text-uppercase"  data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">{{item.name}}</h1>
                        <div class="d-flex flex-wrap align-items-center r-mb-23" data-iq-gsap="onStart" data-iq-position-x="-150" data-iq-position-y="0" data-iq-duration="1" data-iq-delay=".4">
                           <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3" >
                              <ul
                                 class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left" >
                                 <li *ngFor="let a of rate(item.rate); let index = index">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                 </li>

                                 <li>
                                    <i class="fa fa-star-half" aria-hidden="true"></i>
                                 </li>
                              </ul>
                              <span class="text-white ml-2">{{item.rate}}.7(lmdb)</span>
                           </div>
                           <div class="d-flex align-items-center mt-2 mt-md-3">
                              <span class="badge badge-secondary p-2">NC-17</span>
                              <span class="ml-3">{{item.duraation}}</span>
                           </div>
                           <p data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="150" data-iq-duration="1" data-iq-delay=".5">
                            {{item.discreption}}.                           </p>
                        </div>
                        <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                          <ng-container *ngFor="let i of crewseriesmovieService.GetAllx">

                          <div class="text-primary title starring" *ngIf="item.id==i.movieid">
                            <ng-container *ngFor="let x of crewService.GetAllx">
                              <ng-container *ngIf="i.crewid==x.id">

                               <span class="text-body"><a (click)="NavigateCrew(x.id)" *ngIf="4==x.roleid">Actor: {{x.name}},</a>
                              <a (click)="NavigateCrew(x.id)" *ngIf="5==x.roleid">Author: {{x.name}},</a>
                              <a (click)="NavigateCrew(x.id)" *ngIf="6==x.roleid">Company: {{x.name}}</a>

                              </span>
                            </ng-container>                            </ng-container>

                           </div>
                          </ng-container>

                           <ng-container *ngFor="let i of categoryService.GetAllCategoryv">
                           <div class="text-primary title genres" *ngIf="i.id==item.categoryid">
                              Genres: <span class="text-body" ><a (click)="NavigateCat(i.id)">{{i.name}}</a></span>
                           </div>
                          </ng-container>
                        </div>
                        <div class="d-flex align-items-center r-mb-23" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="150" data-iq-duration="1" data-iq-delay=".6">
                           <a (click)="Navigate(item.id)" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                              aria-hidden="true"></i>Play Now</a>
                        </div>
                     </div>
                     <div class=" col-lg-5 col-md-12 trailor-video iq-slider d-none d-lg-block">
                        <a href="{{item.trailerlink}}"  target="_blank" class="video-open playbtn" tabindex="0">
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px"
                              viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10"
                                 points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                              <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3">
                              </circle>
                           </svg>
                           <span class="w-trailor">Watch Trailer</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>        </div>

      </div>
    </div>


  </div>

  <div class="swiper-pagination"></div>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
     <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
        fill="none" stroke="currentColor">
        <circle r="20" cy="22" cx="22" id="test"></circle>
     </symbol>
  </svg>
</section>
<!-- Slider End -->

<!-- MainContent -->
<div class="main-content">
  <section id="iq-favorites">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12 overflow-hidden">
              <div class="d-flex align-items-center justify-content-between">
                 <h4 class="main-title">Latest Movies</h4>
                 <a href="/user/allmovie" class="text-primary iq-view-all">View All</a>
              </div>
           </div>
        </div>
        <!-- Swiper -->
        <div class="favourite-slider">
           <div  class="swiper pt-2 pt-md-4 pt-lg-4 iq-rtl-direction" data-swiper="common-slider">

            <ul style="margin-left: -4%;">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let item of this.movieService.GetAllx">

                  <ng-template carouselSlide >

                 <li style="padding: 5px;background-color: #141414;" class="swiper-slide slide-item">
                    <div class="block-images position-relative ">
                       <div class="img-box">
                          <img src="../../../assets/Image/{{item.image}}" class="img-fluid" alt="" loading="lazy">
                       </div>
                       <div class="block-description">
                          <h6 class="iq-title"><a (click)="Navigate(item.id)">{{item.name}}</a></h6>
                          <div class="movie-time d-flex align-items-center my-2">
                             <span class="text-white">{{item.duraation}}</span>
                          </div>
                          <div class="hover-buttons">
                             <a (click)="Navigate(item.id)" role="button" class="btn btn-hover"><i
                                class="fa fa-play mr-1" aria-hidden="true"></i>
                             Play Now
                             </a>
                          </div>
                       </div>
                       <div class="block-social-info">
                          <ul class="list-inline p-0 m-0 music-play-lists">
                             <li class="share">
                                <span><i class="ri-share-fill"></i></span>
                                <div class="share-box">
                                   <div class="d-flex align-items-center">
                                      <a href="../../../assets/StreamAssets/https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                         target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                         class="ri-facebook-fill"></i></a>
                                      <a href="../../../assets/StreamAssets/https://twitter.com/intent/tweet?text=Currentlyreading"
                                         target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i
                                         class="ri-twitter-fill"></i></a>
                                      <a href="../../../assets/StreamAssets/#"
                                         data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/"
                                         class="share-ico iq-copy-link" tabindex="0"><i
                                         class="ri-links-fill"></i></a>
                                   </div>
                                </div>
                             </li>
                             <li>
                                <span><i class="ri-heart-fill" (click)="Add(item.id)"></i></span>
                                <span class="count-box">2+</span>
                             </li>
                             <li><span><i class="ri-add-line" (click)="Later(item.id)"></i></span></li>
                          </ul>
                       </div>
                    </div>
                 </li>
                </ng-template>

                  </ng-container>
                </owl-carousel-o>

              </ul>

           </div>
        </div>
     </div>
  </section>















  <div class="verticle-slider">
     <div class=" ">
        <section class="slider">
           <div class="slider-flex position-relative">
              <div class="swiper-button-prev verticle-btn"></div>
              <h4 class="main-title ">Top 5 Rating</h4>


                <div id="carouselExampleIndicators"  class="carousel slide" data-ride="carousel">


                  <ol class="carousel-indicators">
                    <li  data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                        <img src="../../../assets/StreamAssets/images/movie-banner/02.jpg" class="d-block w-100">
                    </li>
                    <li *ngFor="let item of this.Top;let i=index" data-target="#carouselExampleIndicators" data-slide-to="i+1">

                      <img  src="../../../assets/Image/{{item.image}}" class="d-block w-100">
                    </li>

                </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div style="padding: 25px;" class="row align-items-center justify-content-center h-100 parallaxt-details">
                          <div class="col-xl-5 col-lg-12 col-md-12 r-mb-23">
                             <div class="text-left">
                                <a href="../../../assets/StreamAssets/javascript:void(0);">
                                <img src="../../../assets/StreamAssets/images/parallax/parallax-logo.png" loading="lazy" class="img-fluid" alt="bailey">
                                </a>
                                <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                                   <ul
                                      class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="text-primary"><i class="fa fa-star"
                                         aria-hidden="true"></i></a></li>
                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                         aria-hidden="true"></i></a></li>
                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                         aria-hidden="true"></i></a></li>
                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                                         aria-hidden="true"></i></a></li>
                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star-half-o"
                                         aria-hidden="true"></i></a></li>
                                   </ul>
                                   <span class="text-white ml-3">9.2 (lmdb)</span>
                                </div>
                                <div class="movie-time d-flex align-items-center mb-3 iq-ltr-direction">
                                   <div class="badge badge-secondary mr-3">13+</div>
                                   <h6 class="text-white">2hr:30mins</h6>
                                </div>
                                <h4 class="iq-title mb-2">
                                   Movie of the year
                                </h4>
                                <p class="iq-title-desc mb-5">Baileys Irish Cream is an Irish cream liqueur an alcoholic beverage
                                   flavoured with cream, cocoa, and Irish whiskey made by Diageo at Republic of Ireland and in
                                   Mallusk, Northern Ireland.
                                </p>
                                <div class="parallax-buttons">
                                   <a href="../../../assets/StreamAssets/movie-details.html" class="btn btn-hover"><i class="fa fa-play mr-1"
                                      aria-hidden="true"></i>Play Now</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-xl-7 col-lg-12 col-md-12 mt-5 mt-xl-0">
                             <div class="parallax-img">
                                <a href="../../../assets/StreamAssets/movie-details.html">
                                <img src="../../../assets/StreamAssets/images/parallax/p2.jpg" class="img-fluid w-100" loading="lazy" alt="bailey">
                                </a>
                             </div>
                          </div>
                       </div>                      </div>
                      <ng-container *ngFor="let item of this.Top;let i=index">
                       <div class="carousel-item" >
                        <div style="padding: 25px;" class="row align-items-center justify-content-center h-100 parallaxt-details">
                          <div class="col-xl-5 col-lg-12 col-md-12 r-mb-23" >
                             <div class="text-left">
                                <a href="../../../assets/StreamAssets/javascript:void(0);">
<h1 style="font-weight: 900;
font-size: 65px;">{{item.name}}</h1>                                </a>
                                <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                                   <ul
                                      class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                      <li *ngFor="let a of rate(item.rate); let index = index"><a href="../../../assets/StreamAssets/javascript:void(0);" class="text-primary"><i class="fa fa-star"
                                         aria-hidden="true"></i></a></li>

                                      <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star-half-o"
                                         aria-hidden="true"></i></a></li>
                                   </ul>
                                   <span class="text-white ml-3">{{item.rate}}.2 (lmdb)</span>
                                </div>
                                <div class="movie-time d-flex align-items-center mb-3 iq-ltr-direction">
                                   <div class="badge badge-secondary mr-3">13+</div>
                                   <h6 class="text-white">{{item.duraation}}</h6>
                                </div>
                                <h4 class="iq-title mb-2">

                                </h4>
                                <p class="iq-title-desc mb-5">{{item.discreption}}.
                                </p>
                                <div class="parallax-buttons">
                                   <a (click)="Navigate(item.id)" class="btn btn-hover"><i class="fa fa-play mr-1"
                                      aria-hidden="true"></i>Play Now</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-xl-7 col-lg-12 col-md-12 mt-5 mt-xl-0">
                             <div class="parallax-img">
                                <a href="">
                                <img src="../../../assets/Image/{{item.image}}" class="img-fluid w-100" loading="lazy" alt="bailey">
                                </a>
                             </div>
                          </div>
                       </div>                      </div></ng-container>

                  </div>


              </div>





              </div>
        </section>
     </div>


  <section id="parallex" class="parallax-window">
     <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100 parallaxt-details" *ngFor="let item of homepageService.GetAllx">
           <div class="col-xl-5 col-lg-12 col-md-12 r-mb-23">
              <div class="text-left">
                 <a href="../../../assets/StreamAssets/javascript:void(0);">
                 <img src="../../../assets/StreamAssets/images/parallax/parallax-logo.png" loading="lazy" class="img-fluid" alt="bailey">
                 </a>
                 <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                    <ul
                       class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                       <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="text-primary"><i class="fa fa-star"
                          aria-hidden="true"></i></a></li>
                       <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                          aria-hidden="true"></i></a></li>
                       <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                          aria-hidden="true"></i></a></li>
                       <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star"
                          aria-hidden="true"></i></a></li>
                       <li><a href="../../../assets/StreamAssets/javascript:void(0);" class="pl-2 text-primary"><i class="fa fa-star-half-o"
                          aria-hidden="true"></i></a></li>
                    </ul>
                    <span class="text-white ml-3">9.2 (lmdb)</span>
                 </div>
                 <div class="movie-time d-flex align-items-center mb-3 iq-ltr-direction">
                    <div class="badge badge-secondary mr-3">13+</div>
                    <h6 class="text-white">{{item.duartion}}</h6>
                 </div>
                 <h4 class="iq-title mb-2">
                    Movie of the year
                 </h4>
                 <p class="iq-title-desc mb-5">{{item.descrip}}.
                 </p>
                 <div class="parallax-buttons">
                    <a (click)="Navigate(71)" class="btn btn-hover"><i class="fa fa-play mr-1"
                       aria-hidden="true"></i>Play Now</a>
                 </div>
              </div>
           </div>
           <div class="col-xl-7 col-lg-12 col-md-12 mt-5 mt-xl-0">
              <div class="parallax-img">
                 <a href="../../../assets/StreamAssets/movie-details.html">
                 <img src="../../../assets/Image/{{item.image}}" class="img-fluid w-100" loading="lazy" alt="bailey">
                 </a>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!--swiper Thumbs gallery loop -->
  <section class="">
     <div class="container-fluid">
        <div class="row m-0 p-0">
           <div id="iq-trending" class="s-margin iq-tvshow-tabs iq-rtl-direction iq-trending-tabs">
              <div class="iq-main-header d-flex align-items-center justify-content-between">
                 <h4 class="main-title">
                    Trending
                 </h4>
              </div>


              <div id="carouselExampleIndicatorsw"  class="carousel slide" data-ride="carousel">


                <ol >

                  <owl-carousel-o [options]="customOptionsss" >
                    <ng-template carouselSlide >
                      <li  data-target="#carouselExampleIndicatorsw" data-slide-to="0" class="active">
                        <img src="../../../assets/StreamAssets/images/movie-banner/03.jpg" class="d-block w-100">
                    </li>
                    </ng-template>
                    <ng-container *ngFor="let item of seriesService.GetAllx;let i=index">
                    <ng-template carouselSlide >
                        <li  data-target="#carouselExampleIndicatorsw" data-slide-to="i+1" class="">
                              <div data-target="#carouselExampleIndicatorsw" class="movie-swiper position-relative">
                                  <img src="../../../assets/Image/{{item.image}}" alt="" />
                              </div>
                        </li>
                      </ng-template>
                    </ng-container>

                  </owl-carousel-o>

              </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div id="gallery-bottom" class="swiper trending-tab-slider" data-swiper="gallery-bottom">
                        <ul  class="swiper-wrapper  list-inline p-0 m-0 d-flex align-items-center">
                           <li  class="swiper-slide swiper-bg slider-big-img-1"style="background-image: url(../../../../../assets/StreamAssets/images/movie-banner/03.jpg);background-size: cover;">
                              <div class="position-relative" >
                                 <div class="trending-custom-tab">
                                    <div class="tab-title-info position-relative">
                                       <ul class="trending-pills d-flex nav nav-pills justify-content-center align-items-center text-center" role="tablist">
                                          <li class="nav-item">
                                             <a class="nav-link active show" data-toggle="pill" href="../../../assets/StreamAssets/#trending-data1"
                                                role="tab" aria-selected="true">Overview</a>
                                          </li>

                                       </ul>
                                       <div class="tab-content trending-content">
                                          <div id="trending-data1" class="tab-pane fade active show ">
                                             <div class=" trending-info align-items-center w-100 animated fadeInUp iq-ltr-direction">
                                                <a href="../../../assets/StreamAssets/javascript:void(0);" tabindex="0">
                                                   <div class="res-logo">
                                                      <div class="channel-logo">
                                                         <img src="../../../assets/StreamAssets/images/logo.png" class="c-logo" alt="streamit">
                                                      </div>
                                                   </div>
                                                </a>
                                                <h1 class="trending-text big-title text-uppercase">Charlie Cox</h1>
                                                <div class="d-flex align-items-center text-white text-detail">
                                                   <span class="badge badge-secondary p-3">18+</span>
                                                   <span class="trending-year">04-JUL-23</span>
                                                </div>
                                                <div class="d-flex align-items-center series mb-4">
                                                   <a href="../../../assets/StreamAssets/javascript:void(0);"><img src="../../../assets/StreamAssets/images/trending/trending-label.png"
                                                      class="img-fluid" alt=""></a>
                                                   <span class="text-gold ml-3">#2 in Series Today</span>
                                                </div>
                                                <p class="trending-dec">Charlie Thomas Cox was born in London, England, to Patricia C. A. (Harley) and Andrew Frederick Seaforth Cox, a publisher. He has English, Scottish, and Irish ancestry, and descends from several prominent forebears Baronets of Agnew.
                                                </p>
                                                <div class="p-btns">
                                                   <div class="d-flex align-items-center p-0">
                                                      <a (click)="NavigateSer(21)" class="btn btn-hover mr-2" tabindex="0"><i
                                                         class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>

                                                   </div>
                                                </div>
                                                <div class="trending-list mt-4">


                                                       <span class="text-body"><a (click)="NavigateCrew(21)">Actor: Stephen Amell,</a>
                                                      <a (click)="NavigateCrew(30)" >Author: Sylvester Stallone ,</a>
                                                      <a (click)="NavigateCrew(33)" >Company: Warner Bros.</a>

                                                      </span>
                                                   <div class="text-primary title" >
                                                    <span class="text-body">Genres: Crime
                                                     </span>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>

                        </ul>
                     </div>
                      </div>
                    <ng-container *ngFor="let item of seriesService.GetAllx;let i=index">
                     <div class="carousel-item" >
                      <div id="gallery-bottom" class="swiper trending-tab-slider" data-swiper="gallery-bottom">
                        <ul  class="swiper-wrapper  list-inline p-0 m-0 d-flex align-items-center">
                           <li  class="swiper-slide swiper-bg slider-big-img-1"style="background-image: url(../../../assets/Image/{{item.image}});background-size: cover;">
                              <div class="position-relative" >
                                 <div class="trending-custom-tab">
                                    <div class="tab-title-info position-relative">
                                       <ul class="trending-pills d-flex nav nav-pills justify-content-center align-items-center text-center" role="tablist">
                                          <li class="nav-item">
                                             <a class="nav-link active show" data-toggle="pill" href="../../../assets/StreamAssets/#trending-data1"
                                                role="tab" aria-selected="true">Overview</a>
                                          </li>

                                       </ul>
                                       <div class="tab-content trending-content">
                                          <div id="trending-data1" class="tab-pane fade active show ">
                                             <div class=" trending-info align-items-center w-100 animated fadeInUp iq-ltr-direction">
                                                <a href="../../../assets/StreamAssets/javascript:void(0);" tabindex="0">
                                                   <div class="res-logo">
                                                      <div class="channel-logo">
                                                         <img src="../../../assets/StreamAssets/images/logo.png" class="c-logo" alt="streamit">
                                                      </div>
                                                   </div>
                                                </a>
                                                <h1 class="trending-text big-title text-uppercase">{{item.name}}</h1>
                                                <div class="d-flex align-items-center text-white text-detail">
                                                   <span class="badge badge-secondary p-3">18+</span>
                                                   <span class="trending-year">{{item.productionyear | date}}</span>
                                                </div>
                                                <div class="d-flex align-items-center series mb-4">
                                                   <a href="../../../assets/StreamAssets/javascript:void(0);"><img src="../../../assets/StreamAssets/images/trending/trending-label.png"
                                                      class="img-fluid" alt=""></a>
                                                   <span class="text-gold ml-3">#2 in Series Today</span>
                                                </div>
                                                <p class="trending-dec">{{item.discreption}}.
                                                </p>
                                                <div class="p-btns">
                                                   <div class="d-flex align-items-center p-0">
                                                      <a (click)="NavigateSer(item.id)" class="btn btn-hover mr-2" tabindex="0"><i
                                                         class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>

                                                   </div>
                                                </div>
                                                <div class="trending-list mt-4">
                                                  <ng-container *ngFor="let i of crewseriesmovieService.GetAllx">

                                                    <ng-container *ngIf="item.id==i.seriesid">

                                                    <ng-container *ngFor="let x of crewService.GetAllx">
                                                      <ng-container *ngIf="i.crewid==x.id">

                                                       <span class="text-body"><a (click)="NavigateCrew(x.id)" *ngIf="4==x.roleid">Actor: {{x.name}},</a>
                                                      <a (click)="NavigateCrew(x.id)" *ngIf="5==x.roleid">Author: {{x.name}},</a>
                                                      <a (click)="NavigateCrew(x.id)" *ngIf="6==x.roleid">Company: {{x.name}}</a>

                                                      </span>
                                                    </ng-container>       </ng-container>                            </ng-container></ng-container>
                                                   <ng-container *ngFor="let i of categoryService.GetAllCategoryv">
                                                   <div class="text-primary title" *ngIf="item.categoryid==i.id">
                                                    <span class="text-body">Genres: {{i.name}}
                                                     </span>
                                                   </div></ng-container>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>

                        </ul>
                     </div>
                      </div></ng-container>

                </div>


            </div>





              <!-- <div  class="trending-contens position-relative ">
                 <div id="gallery-top" class="gallery-thumbs" data-swiper="gallery-top">
                    <ul class=" list-inline p-0 m-0  trending-slider-nav align-items-center ">
                      <owl-carousel-o [options]="customOptionsss" >
                        <ng-container *ngFor="let item of seriesService.GetAllx">
                        <ng-template carouselSlide >
                            <li class="swiper-slide">
                                <a href="#x{{item.id}}" >
                                  <div data-target="#carouselExampleIndicators" class="movie-swiper position-relative">
                                      <img src="../../../assets/Image/{{item.image}}" alt="" />
                                  </div>
                                </a>
                            </li>
                          </ng-template>
                        </ng-container>

                      </owl-carousel-o>
                    </ul>
                 </div>
                 <div id="gallery-bottom" class="swiper trending-tab-slider" data-swiper="gallery-bottom">
                    <ul  class="swiper-wrapper  list-inline p-0 m-0 d-flex align-items-center">
                       <li *ngFor="let item of seriesService.GetAllx" id="x{{item.id}}" class="swiper-slide swiper-bg slider-big-img-1"style="background-image: url(../../../assets/Image/{{item.image}});background-size: cover;">
                          <div class="position-relative" >
                             <div class="trending-custom-tab">
                                <div class="tab-title-info position-relative">
                                   <ul class="trending-pills d-flex nav nav-pills justify-content-center align-items-center text-center" role="tablist">
                                      <li class="nav-item">
                                         <a class="nav-link active show" data-toggle="pill" href="../../../assets/StreamAssets/#trending-data1"
                                            role="tab" aria-selected="true">Overview</a>
                                      </li>

                                   </ul>
                                   <div class="tab-content trending-content">
                                      <div id="trending-data1" class="tab-pane fade active show ">
                                         <div class=" trending-info align-items-center w-100 animated fadeInUp iq-ltr-direction">
                                            <a href="../../../assets/StreamAssets/javascript:void(0);" tabindex="0">
                                               <div class="res-logo">
                                                  <div class="channel-logo">
                                                     <img src="../../../assets/StreamAssets/images/logo.png" class="c-logo" alt="streamit">
                                                  </div>
                                               </div>
                                            </a>
                                            <h1 class="trending-text big-title text-uppercase">{{item.name}}</h1>
                                            <div class="d-flex align-items-center text-white text-detail">
                                               <span class="badge badge-secondary p-3">18+</span>
                                               <span class="trending-year">{{item.productionyear}}</span>
                                            </div>
                                            <div class="d-flex align-items-center series mb-4">
                                               <a href="../../../assets/StreamAssets/javascript:void(0);"><img src="../../../assets/StreamAssets/images/trending/trending-label.png"
                                                  class="img-fluid" alt=""></a>
                                               <span class="text-gold ml-3">#2 in Series Today</span>
                                            </div>
                                            <p class="trending-dec">{{item.discreption}}.
                                            </p>
                                            <div class="p-btns">
                                               <div class="d-flex align-items-center p-0">
                                                  <a (click)="NavigateSer(item.id)" class="btn btn-hover mr-2" tabindex="0"><i
                                                     class="fa fa-play mr-2" aria-hidden="true"></i>Play Now</a>

                                               </div>
                                            </div>
                                            <div class="trending-list mt-4">
                                              <ng-container *ngFor="let i of crewseriesmovieService.GetAllx">

                                                <ng-container *ngIf="item.id==i.seriesid">

                                                <ng-container *ngFor="let x of crewService.GetAllx">
                                                  <ng-container *ngIf="i.crewid==x.id">

                                                   <span class="text-body"><a (click)="NavigateCrew(x.id)" *ngIf="4==x.roleid">Actor: {{x.name}},</a>
                                                  <a (click)="NavigateCrew(x.id)" *ngIf="5==x.roleid">Author: {{x.name}},</a>
                                                  <a (click)="NavigateCrew(x.id)" *ngIf="6==x.roleid">Company: {{x.name}}</a>

                                                  </span>
                                                </ng-container>       </ng-container>                            </ng-container></ng-container>
                                               <ng-container *ngFor="let i of categoryService.GetAllCategoryv">
                                               <div class="text-primary title" *ngIf="item.categoryid==i.id">
                                                <span class="text-body">Genres: {{i.name}}
                                                 </span>
                                               </div></ng-container>

                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </li>

                    </ul>
                 </div>

              </div> -->
           </div>
        </div>
     </div>
  </section>



  <section id="iq-tvthrillers" class="s-margin">
     <div class="container-fluid">
      <h1>Testimonial</h1>
      <div class="wrapper">
        <form [formGroup]="CreateForm" action="https://templates.iqonic.design/wp-themes/streamit_wp/contact/#wpcf7-f6-p5048-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
           <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="6">
              <input type="hidden" name="_wpcf7_version" value="5.3.2">
              <input type="hidden" name="_wpcf7_locale" value="en_US">
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p5048-o1">
              <input type="hidden" name="_wpcf7_container_post" value="5048">
              <input type="hidden" name="_wpcf7_posted_data_hash" value="">
           </div>
           <div class="contact-form contact-style">
              <div class="row">
                 <div class="col-md-6">
                    <div class="cfield">
                       <span class="wpcf7-form-control-wrap your-name">
                       <input type="text" formControlName="comments" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Message">
                       </span>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="cfield">
                       <span class="wpcf7-form-control-wrap your-subject">
                       <input type="number"formControlName="rate" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Rate' between 1 and 5'">
                       </span>
                    </div>
                 </div>


                 <div class="col-md-12">
                    <button [disabled]="CreateForm.invalid" (click)="CreateMsg()" id="submit" name="submit" type="submit" value="Send" class="btn btn-hover iq-button">
                    <span class="iq-btn-text-holder">Send</span>

                    <br>
                    </button>
                 </div>
              </div>
           </div>
           <div class="wpcf7-response-output" aria-hidden="true"></div>
        </form>
     </div>
        <!-- Swiper -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner py-4">
            <div  class="swiper-banner-container iq-rtl-direction" data-swiper="banner-detail-slider">
              <div class="swiper-wrapper">
            <div class="carousel-item active">

              <div class="container">
                <div class="row">
              <!-- Carousel wrapper -->
              <ng-container *ngFor="let item of testimonialService.GetAllx">
                <ng-container *ngFor="let i of userService.GetAllx">
                  <ng-container *ngIf="item.userid==i.id">

              <div class="col-lg-4" style="text-align: center;margin-top: 10%;" *ngIf="item.status=='accepted'">

                <img class="rounded-circle shadow-1-strong mb-4"
                  src="../../../assets/Image/{{i.image}}" alt="avatar"
                  style="width: 150px;" />
                <h5 class="mb-3">{{i.name}}</h5>
                <p class="text-muted">
                  <i class="fa fa-quote-left pe-2"></i>
                  {{item.comments}}.
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <li *ngFor="let a of rate(item.rate); let index = index">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </li>

                </ul>
              </div></ng-container >                </ng-container>
            </ng-container >
            </div></div>



<!-- Carousel wrapper -->

        </div>

        <div class="carousel-item ">
          <div class="container">
            <div class="row">
          <!-- Carousel wrapper -->
          <div class="col-lg-4" style="text-align: center;
          margin-top: 10%;">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Ahmad Qasem</h5>
            <p class="text-muted">
              <i class="fa fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>

            </ul>
          </div><div class="col-lg-4" style="text-align: center;margin-top: 10%;">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="../../../assets/AdminAssets/images/user/05.jpg" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Ali Deynah</h5>
            <p class="text-muted">
              <i class="fa fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fa fa-star "></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
            </ul>
          </div><div class="col-lg-4" style="text-align: center;margin-top: 10%;">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="../../../assets/AdminAssets/images/user/04.jpg" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Anna Omar</h5>
            <p class="text-muted">
              <i class="fa fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fa fa-star "></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>
              <li><i class="fa fa-star fa-sm"></i></li>

            </ul>
          </div>
        </div></div>
        </div>


        </div>
      </div>
      </div>
      <a style="width: 5%;" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a style="width: 5%;" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
     </div>
  </section>

  <app-homefooter></app-homefooter>
</div>
</div>

<div class="rtl-box">
  <button type="button" id="flip" class="btn btn-light rtl-btn">
     <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 20 20" fill="white">
        <path fill-rule="evenodd"
           d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
           clip-rule="evenodd" />
     </svg>
  </button>
  <div class="rtl-panel" id="panel">
     <ul class="modes">
        <li class="dir-btn" data-mode="rtl" data-active="false" data-value="ltr"><a href="../../../assets/StreamAssets/#">LTR</a></li>
        <li class="dir-btn" data-mode="rtl" data-active="true" data-value="rtl"><a href="../../../assets/StreamAssets/#">RTL</a></li>
     </ul>
  </div>
</div>
<!-- MainContent End-->
<!-- back-to-top -->
<div id="back-to-top">
  <a class="top" href="../../../assets/StreamAssets/#top" id="top"> <i class="fa fa-angle-up"></i> </a>
</div>
<!-- back-to-top End -->
