<header id="main-header">
  <div class="main-header">
     <div class="container-fluid">
        <div class="row">
           <div class="col-sm-12">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                 <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon" data-toggle="collapse">
                       <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                       <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                       <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                    </div>
                 </a>
                 <a class="navbar-brand" routerLink="//user"> <img class="img-fluid logo" src="../../../assets/StreamAssets/images/logo.png" loading="lazy"
                    alt="streamit" /> </a>
                 <div class="mobile-more-menu">
                    <a routerLink="/auth/login" class="more-toggle" id="dropdownMenuButton"
                       data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                       <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#dd0808}</style><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                      </a>

                   



                    <div class="more-menu" aria-labelledby="dropdownMenuButton">
                       <div class="navbar-right position-relative">
                          <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                             <li>
                                <a href="#" class="search-toggle">
                                <i class="ri-search-line"></i>
                                </a>
                                <div class="search-box iq-search-bar">
                                   <form action="#" class="searchbox">
                                      <div class="form-group position-relative">
                                         <input type="text" class="text search-input font-size-12"
                                            placeholder="type here to search...">
                                         <i class="search-link ri-search-line"></i>
                                      </div>
                                   </form>
                                </div>
                             </li>
                             <li class="nav-item nav-icon">
                                <a href="#" class="search-toggle position-relative">
                                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"
                                      height="22" class="noti-svg">
                                      <path fill="none" d="M0 0h24v24H0z" />
                                      <path
                                         d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                   </svg>
                                   <span class="bg-danger dots"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                   <div class="iq-card shadow-none m-0">
                                      <div class="iq-card-body">
                                         <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                               <img src="../../../assets/StreamAssets/images/notify/thumb-1.jpg" class="img-fluid mr-3" loading="lazy"
                                                  alt="streamit" />
                                               <div class="media-body">
                                                  <h6 class="mb-0 ">Boop Bitty</h6>
                                                  <small class="font-size-12"> just now</small>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                               <img src="../../../assets/StreamAssets/images/notify/thumb-2.jpg" class="img-fluid mr-3" loading="lazy"
                                                  alt="streamit" />
                                               <div class="media-body">
                                                  <h6 class="mb-0 ">The Last Breath</h6>
                                                  <small class="font-size-12">15 minutes ago</small>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="#" class="iq-sub-card">
                                            <div class="media align-items-center">
                                               <img src="../../../assets/StreamAssets/images/notify/thumb-3.jpg" class="img-fluid mr-3" loading="lazy"
                                                  alt="streamit" />
                                               <div class="media-body">
                                                  <h6 class="mb-0 ">The Hero Camp</h6>
                                                  <small class="font-size-12">1 hour ago</small>
                                               </div>
                                            </div>
                                         </a>
                                      </div>
                                   </div>
                                </div>
                             </li>
                             <li>
                                <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center">
                                <img src="../../../assets/StreamAssets/images/user/user.jpg" class="img-fluid avatar-40 rounded-circle" loading="lazy"
                                   alt="user">
                                </a>
                                <div class="iq-sub-dropdown iq-user-dropdown">
                                   <div class="iq-card shadow-none m-0">
                                      <div class="iq-card-body p-0 pl-3 pr-3">
                                         <a href="manage-profile.html" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-file-user-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Manage Profile</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="setting.html" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-settings-4-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Settings</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="pricing-plan-1.html" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-settings-4-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0 ">Pricing Plan</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="login.html" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-logout-circle-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="mb-0">Logout</h6>
                                               </div>
                                            </div>
                                         </a>
                                      </div>
                                   </div>
                                </div>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="menu-main-menu-container">
                       <ul id="top-menu" class="navbar-nav ml-auto">
                          <li class="menu-item active">
                             <a routerLink="/">Home</a>
                          </li>
                          <li class="menu-item "><a routerLink="/pricing">Pricing Plan</a></li>

                          <li class="menu-item "><a routerLink="/about">About Us</a></li>
                                <li class="menu-item"><a routerLink="/contact">Contact Us</a></li>


                       </ul>
                    </div>
                 </div>
                 <div style="margin-right: -30%;" class="navbar-right menu-right">
                    <ul class="d-flex align-items-center list-inline m-0">


                       <li class="nav-item nav-icon">
                          <a title="login" routerLink="/auth/login" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
                             data-toggle="search-toggle">
                             <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#dd0808}</style><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>                                             </a>

                       </li>

                    </ul>
                 </div>
              </nav>
           </div>
        </div>
     </div>
  </div>
</header>
